<title>Chat-Django v.1</title>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/static/4/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/4/css/mdb.min.css" rel="stylesheet">
<link href="/static/4/css/style.css" rel="stylesheet">




{%block main%}
{%endblock main%}



<script type="text/javascript" src="/static/4/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/4/js/popper.min.js"></script>
<script type="text/javascript" src="/static/4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/4/js/mdb.min.js"></script>

